<section class="blockWrapper">
  <div>
    <h2 class="text-center mb-5 text-3xl md:text-5xl font-medium md:font-light">Всё для всех бесплатно</h2>
    <div class="mx-auto max-w-5xl">
      <p class="text-center text-2xl md:text-4xl font-medium md:font-extralight">
        Никаких входных билетов для участников и&nbsp;никаких гонораров выступающим.
      </p>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row justify-between items-center">
    <div class="md:w-1/2 space-y-10">
      <p class="text-lg font-light">
        Все мероприятия бесплатные и&nbsp;открыты для всех желающих. Тематика и&nbsp;подача ориентирована на&nbsp;широкого слушателя.
      </p>
      <p class="text-lg font-light">
        На&nbsp;мероприятиях выступают ведущие в&nbsp;стране специалисты в&nbsp;области дизайна (графический, цифровой, средовой, предметный и&nbsp;пр.)
      </p>
      <p class="text-lg font-light">Выступающие не&nbsp;получают никаких гонораров и&nbsp;участвуют в&nbsp;мероприятиях по&nbsp;собственной инициативе.</p>
      <p class="text-lg font-light">
        Мероприятия построены на&nbsp;принципах максимально открытого и&nbsp;честного обмена знаниями и&nbsp;опытом между всеми участниками.
      </p>
    </div>

    <div class="flex flex-1 justify-center md:justify-end w-full md:w-1/2 mb-7 md:mb-0">
      <%= image_tag('logo-textless.svg', class: 'h-full w-full', alt: 'Trampoline Logo') %>
    </div>
  </div>
</section>
