<div class="flex items-center justify-between space-x-6 shadowOverlayContainer max-w-md">
  <div class="w-32 h-32 shadowOverlay shrink-0">
    <div class="w-full h-full rounded-md overflow-hidden">
      <img
        class="block object-cover w-full h-full"
        src="https://d2eip9sf3oo6c2.cloudfront.net/instructors/avatars/000/000/032/medium/oapgW_Fp_400x400.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="space-y-2">
    <span class="text-2xl leading-4 font-bold text-gray-600">Никита Кирсанов</span>

    <p class="text-lg leading-5 text-indigo-800">Senior Software Enginner - EPAM Systems (Ryazan)</p>

    <div class="flex space-x-6">
      <%# <div>Socials</div> %>
      <span class="font-bold text-fuchsia-700">4 talks</span>
    </div>
  </div>
</div>
