<div class="w-full h-full flex flex-col justify-center items-center text-gray-400 space-y-6">
  <div class="flex flex-col justify-center items-center space-y-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
      />
    </svg>

    <div class="flex flex-col justify-center items-center">
      <h2 class="text-gray-800 font-bold text-2xl">
        <%= @title %>
      </h2>
      <p class="text-lg">Get started by creating new one</p>
    </div>
  </div>

  <div class="mx-auto sm:max-w-sm">
    <%= link_to 'Create New', @url, class: 'bg-indigo-500 text-white px-6 py-3 rounded-lg font-medium text-lg hover:bg-indigo-700 w-full' %>
  </div>
</div>
