<div class="flex flex-col">
  <%= image_tag(@img_url, alt: @name) %>

  <div class="flex flex-col flex-1 border border-neutral-300 border-t-0 md:p-10 p-5 space-y-3">
    <span class="font-bold text-xl">
      <%= @name %>
    </span>
    <p class="text-md font-light">
      <%= @description %>
    </p>
  </div>
</div>
