@layer base {
  body {
    @apply antialiased
  }
}

.turbo-progress-bar {
  height: 3px;
  background-color: #ff2f5b;
}

.frame__loading_container{
  display: none;
  align-items: center;
  justify-content: center;
}
